<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" ignore missing %}
    <title>Home</title>
</head>
    <body>
        <!-- Navigation-->
        {% include "nav.html" ignore missing %}
        <!-- Page Header -->
        <header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in all_posts %}
                <div class="post-preview">
                    <a href="{{ url_for('post', post_id=post.id) }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#">{{ post.author }}</a>
                        on {{ post.date }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
